<!-- Font section -->
body, html {
    font-family: 'Boogaloo', cursive;
    font-family: 'Fredoka One', cursive;
    font-family: 'Bevan', cursive;
}
h1{
    color:white;
    font-size:24px;
}
<!-- END Font section -->

.scard{
    position: relative;
    top: 10px;
    right: 10px;
    left: 5px;
    margin: 0;
    box-shadow: 0 0 15px 4px black;
    border-radius: 4px;
    display: block;
    height: 650px
}



    
